<head>
    <meta charset="UTF-8">
    <meta name="description" content="<%= meta.description %>">
    <meta property="og:title" content="<%= meta.og_title %>">
    <meta property="og:image" content="<%= meta.og_image %>">
    <meta property="og:site_name" content="<%= meta.og_site_name %>">
    <meta property="og:url" content="<%= meta.og_url %>">
    <meta property="og:type" content="<%= meta.og_type %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" value="@TheAnimalRescue">
    <meta name="twitter:creator" value="@TheAnimalRescue">
    <meta name="twitter:title" content="<%= meta.og_title %>">
    <meta name="twitter:description" content="<%= meta.description %>">
    <meta name="twitter:image:src" content="<%= meta.og_image %>">
    <title><%= meta.description %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="theme-color" content="#1BA691">
    <meta name="msapplication-navbutton-color" content="#1BA691">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1BA691">
    <style>
        html,
        body {
            height: 100vh;
            width: 100vw;
            overflow: hidden;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
